*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 20px;
}

.image-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.btn-list{
    width: 100%;
    display: flex;
    justify-content: center;
}

#snap{
    width: 150px;
    height: 60px;
    font-size: large;
    background-color: rgb(17, 160, 17);
    border: 2px solid green;
    margin: 20px auto;
    color: white;
}